body {
	background:  white url(images/lamborghini_logo_2.jpg) repeat;
	font-size: 20px;
	font-family: "Comic Sans MS", serif;
	color: #FFCC00;
	width: 46%;
}

p {
	color: #FFCC00;
	font-size: 1em;
}

h1 {
	font-family: "ALGERIAN", serif;
	text-align: center;
	color: #FF9900;
	font-size: 1.5em;
	background: white url(images/background.jpg) repeat;
	padding: 20px;
}

h1 a{
	text-decoration: none;
}
	
h2 {
	font-family: "Lucida Handwriting", serif;
	text-align: center;
	color: #C0C0C0;
	font-size: 1.25em;
	background: white url(images/background.jpg) repeat;
	margin-right: 45%;
	padding: 10px;
}

h2 a{
	text-decoration: none;
}

img {
	float: right;
	clear: both;
	border: solid;
	color: #C0C0C0;
}

.list {
	color: #888888;
	font-size: 1.125em;
}

nav {
	background: white url(images/navbar_background.jp) repeat;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

nav a{
	color: #FF9900;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-right: 100px;
}

nav li {
	display: inline;
	padding-left: 100px;
}
