body {
	background:  white url(images/lamborghini_logo_2_cropped.jpg) repeat;
	background-position: top left;
	font-size: 20px;
	font-family: "Comic Sans MS", serif;
	color: #FFCC00;
	width: 45.5%;
	margin-top: 80px;
	margin-left: 27.5%;
}

p {
	color: #FFCC00;
	font-size: 1em;
}

h1 {
	font-family: "ALGERIAN", serif;
	text-align: center;
	font-size: 1.5em;
	color: #FF9900;
	background: white url(images/titles_background.jpg) repeat;
	padding: 20px;
}

h1 a {
	text-decoration: none;
	color: #FF9900;
}
	
h2 {
	font-family: "Lucida Handwriting", serif;
	text-align: center;
	font-size: 1.25em;
	color: #C0C0C0;
	background: white url(images/titles_background.jpg) repeat;
	padding: 10px;
}

h2 a {
	text-decoration: none;
	color: #C0C0C0;
}

img {
	margin-left: 200px;
	margin-bottom: 12.5px;
	margin-top: 12.5px;
	border: 4px solid;
	color: #C0C0C0;
}

#headquarters {
	margin-left: 75px;
}

.list {
	color: #888888;
	font-size: 1.125em;
}

nav {
	background: white url(images/navbar_background.jpg) repeat;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

nav a {
	color: #FF9900;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 7;
	padding-right: 100px;
}

nav li {
	display: inline;
	padding-left: 100px;
}
